.input_default {
    display: flex;
    flex-direction: column;
    gap: .35rem;
    input{
        width: 100%;
        height: 3.3125rem;
        border-radius: 0.5rem;
        border: 0.125rem solid var(--color-grey-1);
        background-color: var(--color-grey-1);
        padding: 0px 16px;
    
        &:focus {
            outline: none;
        }
    }
}